<?xml version="1.0" encoding="UTF-8"?>
<model>
    <name>twoLinks</name>
    <version>1.0</version>
    <sdf version='1.7'>model.urdf</sdf>
    <author>
        <name>Silvio Traversaro</name>
        <email>silvio.traversaro@iit.it</email>
    </author>
    <description>Simple model composed by two joints and two links (plus a base and an end effector).</description>
</model>
